body {
  h1, h2 {
    color: darkred;
    font-style: italic;
  }

  div {
    font-weight: bold;
    letter-spacing: 4px;
  }

  .section1 {
    color: blue;
  }

  .section1#first {
    color: green;
  }

  .section1#second{
    color: yellowgreen;
  }

  li.list-b {
    font-style: italic;
  }

  button img {height: 1cap;}

  button:hover {
    width: 100px; 
  }

}
  